<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>View Access Request</title>
<link href="files/styles.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" type="text/javascript" src="files/generics.R1.js"></script>
<script language="JavaScript" type="text/javascript" src="files/constants.js"></script>
<script language="JavaScript" type="text/javascript" src="files/eap.R1.js"></script>
<script>
// Load:
function loadPage() {
	DOM.id("message").onkeyup = function() {
		if(this.value == "") {
			DOM.id("b_cancel").className = "button-normal";
		}
		else {
			DOM.id("b_cancel").className = "button-danger";
		}
	};
	DOM.id("message").focus();
}
</script>
</head>

<body class="fnt-text" onload="loadPage()">

	<div class="frm-section-title">View Access Request </div>

	<form method="post">
	<input type="hidden" name="action" value="${action}">
	<input type="hidden" name="conv_id" value="${conv-id}">
	<input type="hidden" name="to_user" value="${to}">
	<div class="frm-section-msg">
		<table border="0" >
		  <tr>
			<td class="grid-label" width="60">Subject:</td>
			<td class="grid-label" width="690"><strong>${subject}</strong></td>
		  </tr>
		</table>
	</div>
	<div class="frm-section-msg">
		<table border="0">
		  <tr>
			<td class="grid-label" width="60">To:</td>
			<td class="grid-label" width="690"><strong>${to-name}</strong></td>
		  </tr>
		</table>
	</div>
	<div class="frm-section-msg">
		<table border="0">
		  #if(null-message)
		  <tr>
			<td colspan="2">
				<div class="block-validation">
				  <table border="0">
					<tr>
					  <td width="25"><img src="files/img/icon-error.png" /></td>
					  <td style="vertical-align: middle">Please write a message before clicking "Send"</td>
					</tr>
				  </table>
				</div>
			</td>
		  </tr>
		  #endif
		  <tr>
			<td class="grid-msg-text" colspan="2">
			  <textarea name="message" id="message" style="width:740px; height:150px; border:none">
			  </textarea>
			</td>
		  </tr>
		  <tr>
			<td class="grid-button-left">
			  <input type="button" name="b_cancel" id="b_cancel" value="Cancel" class="button-normal" onclick="DOM.goto('eu-list-messages.x');" />
			</td>
			<td class="grid-button">
			  <input type="submit" name="b_send" id="b_send" value="Send" class="button-normal" onclick="window.history.go(-1);" />
			</td>
		  </tr>
		</table>
	</div>
	</form>

	<!-- #list(messages) -->
	<table border="0" class="msg-container">
	  <tr>
		<td width="160" class="msg-info">
		<!-- MESSAGE INFO -->
		<table border="0">
		  <tr>
			<td class="grid-msg-info" width="40">From:</td>
			<td class="grid-msg-info"><strong>${from}</strong></td>
		  </tr>
		  <tr>
			<td class="grid-msg-info">To:</td>
			<td class="grid-msg-info"><strong>${to}</strong></td>
		  </tr>
		  <tr>
			<td class="grid-msg-info">Sent:</td>
			<td class="grid-msg-info"><strong>${sent}</strong></td>
		  </tr>
		</table>
		</td>
		<td width="570" class="msg-text">
		<!-- MESSAGE TEXT -->
		<table border="0">
		  <tr>
			<td class="grid-msg-info" width="570">${msg}</td>
		  </tr>
		</table>
		</td>
	  </tr>
	</table>
	<!-- #endlist -->

	<div class="frm-bottom"></div>

</body>
</html>
