
	<!-- This snippet is used by the Manage Users AF (um-list-roles.x) -->
	<!-- to allow user managers to edit or delete roles. -->
	<table cellpadding="0" cellspacing="0" border="0" width="770">
		<tr>
		  <td width="270">
			<input type="button" name="b_add" id="b_add" value="Add role" class="button-plus" style="width:110px" onclick="DOM.goto('um-edit-role.x?do=create')" />
		  </td>
		  <td style="text-align:right" width="500">
			<input type="button" name="b_delete" id="b_delete" value="Delete" class="button-inactive" />
			<input type="button" name="b_edit" id="b_edit" value="Edit" class="button-inactive" style="margin-left:10px" />
		  </td>
		</tr>
	</table>
