<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Inbox</title>
<link href="files/styles.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" type="text/javascript" src="files/generics.R1.js"></script>
<script language="JavaScript" type="text/javascript" src="files/constants.js"></script>
<script language="JavaScript" type="text/javascript" src="files/eap.R1.js"></script>
<script>
function loadPage() {
}
</script>
</head>

<body class="fnt-text" onload="loadPage()">

	<div class="frm-section-title">Inbox </div>

	<form method="post">
	<div class="frm-section-main">
		<table cellpadding="0" cellspacing="0" border="0">
		  <tr>
			<td class="grid-subtitle">Applications</td>
		  </tr>
		  <tr>
			<td class="grid-label" width="750" style="font-style:italic;">Applications will be added here
			</td>
		  </tr>
		</table>
	</div>
	</form>

	<div class="frm-bottom"></div>
	
</body>
</html>
